$casiller-height: 40px;
$casiller-width: 40px;
$casiller-margin: 5px;

.casiller {
  background: #fafafa;
  height: $casiller-height;
  width: $casiller-width;
  margin: $casiller-margin;
  box-shadow: 0 0 3px rgba(0,0,0,.5);

  &.shot {
    background: rgba(75,75,75,.6);
    border: 2px solid rgba(25,25,25,.8);
    margin: $casiller-margin - 2;

    &.hit {
      background: rgba(170,0,0,.4);
      border: 2px solid rgba(200,0,0,.8);
    }
  }
}

.disabled {
  opacity: .5;
}