.dialog {
  border: none;
  background: rgba(0,0,0,.3);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  div {
    padding: 2rem;
    background: white;
    width: 60%;
  }

  button {
    padding: 1rem;
    font-size: 1rem;
    border: 3px solid rgba(0,0,0,.7);
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    font-weight: bold;
    color: rgba(0,0,0,.8);
  }
}

.hidden {
  display: none;
}