.AutoshootButton {
  margin-top: 3rem;
  font-size: 2rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  border: 3px solid rgba(198, 200, 0, 0.9);
  outline: none;
  background: rgba(251, 255, 0, 0.3);
  color: white;
  transition: 1s;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}