.PlayButton {
  margin-top: 3rem;
  font-size: 2rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  border: 3px solid rgba(0,200,0,.5);
  outline: none;
  background: rgba(0,170,0,.4);
  color: white;
  transition: 1s;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
  box-shadow: 0 0 6px rgba(0,0,0,.4);

  &:disabled {
    opacity: .5;
  }
}