$height: 40px;
$width: 40px;
$border-size: 5px;
$background: rgba(0,0,255,.4);

.battleShipContiner {
  position: absolute;
  display: flex;
  transition: top 1s, left .25s;
  background: $background;
  border: $border-size solid blue;

  .battleShip {
    height: $height;
    width: $width;

    &.hit {
      background: rgba(255,210,210,1);
      border: 2px solid rgba(200,0,0,.7);
      box-sizing: border-box;

      &:after {
        content: '';
        height: 36px;
        border-left: 3px solid rgba(200,0,0,.7);
        position: absolute;
        transform: rotate(45deg);
      }

      &:before {
        content: '';
        height: 36px;
        border-left: 3px solid rgba(200,0,0,.7);
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }
}