.login-container {
  background: url("../../resources/background.jpg");
  height: 100vh;
  width: 100vw;

  .login-button-container {
    position: absolute;
    height: 10rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    top: 25%;
    left: 4rem;

    .title {
      margin-bottom: 2rem;
    }
  }
}

.main-title {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-family: 'DaleBarquitoFont';
  color: red;
  font-size: 5rem;
  text-shadow: 0 0 5px rgba(0,0,0,.6);
  margin-top: 0;
}

.daleBarquito {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
}

@font-face {
  font-family: 'DaleBarquitoFont';
  src: url('../../resources/gunmetl.ttf') format('truetype');
}