.GamePage {
  background-image: url("../../resources/metal-background.jpg");

  padding-top: 3rem;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-title {
    color: white;
  }

  .boards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    border: 4px solid rgba(255,255,255,.8);
    background: rgba(255,255,255,.2);
    border-radius: 2rem;
  }

  .ships {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}